<div class="flex flex-wrap justify-center bg-fuchsia-200 text-black p-3" data-aos="fade-up"
data-aos-anchor-placement="center-center">
  <span class="text-2xl mt-5 text-center title3 mb-8">Si todavia no has ningun libro de la trilogia, no te preocupes!!<br> Aqui tienes por dónde empezar!!</span>
<div>
  <div class="flex flex-column md:flex-row flex-wrap gap-5 card">
    <div
      class="relative w-36 h-40 bg-fuchsia-100 rounded-md border-dotted border-2 border-fuchsia-400 mx-auto cursor-pointer shadow-md"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="3100"

      >



      <img src="assets/images/libro4.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md filter grayscale" />
      <div class="absolute bottom-0 left-0 w-full h-9 bg-fuchsia-50 bg-opacity-75 py-0">
        <p class="text-fuchsia-600 text-center">
          <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/ebQT6AL">Harry Potter y la Piedra filosofal</a>
        </p>
      </div>
    </div>

    <div class="flex flex-column md:flex-row flex-wrap justify-evenly gap-5 card"
  >
      <div
        class="relative w-36 h-40 bg-fuchsia-100 rounded-md border-dotted border-2 border-fuchsia-400 mx-auto cursor-pointer animate-fade-in-up shadow-md"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3200"
        >

        <img src="assets/images/libro2.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md" />
        <div class="absolute bottom-0 left-0 w-full h-9 bg-fuchsia-50 bg-opacity-75 py-0">
          <p class="text-fuchsia-600 text-center">
            <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/fqOibWN">Harry Potter y la Cámara Secreta</a>
          </p>
        </div>
      </div>


      <div class="flex flex-column md:flex-row flex-wrap justify-evenly gap-5 card"
   >
        <div
          class="relative w-36 h-40 bg-fuchsia-100 rounded-md border-dotted border-2 border-fuchsia-400 mx-auto cursor-pointer animate-fade-in-up shadow-md"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="3300"
          >

          <img src="assets/images/libro3.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md" />
          <div class="absolute bottom-0 left-0 w-full h-9 bg-fuchsia-50 bg-opacity-75 py-0">
            <p class="text-fuchsia-600 text-center">
              <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/6Nd5gkA">Harry Potter y el prisionero de Azkaban</a>
            </p>
          </div>
        </div>


        <div class="flex flex-column md:flex-row flex-wrap justify-evenly gap-5 card"
        >
          <div
            class="relative w-36 h-40 bg-fuchsia-100 rounded-md border-dotted border-2 border-fuchsia-400 mx-auto cursor-pointer animate-fade-in-up shadow-md"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3400"
            >

            <img src="assets/images/libro.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md " />
            <div class="absolute bottom-0 left-0 w-full h-9 bg-fuchsia-50 bg-opacity-75 py-0">
              <p class="text-fuchsia-600 text-center">
                <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/6Nd5gkA">Harry Potter y el Cáliz de Fuego</a>
              </p>
            </div>
          </div>

          <div class="flex flex-column md:flex-row flex-wrap justify-evenly gap-5 card">
            <div
              class="relative w-36 h-40 bg-fuchsia-100 rounded-md border-dotted border-2 border-fuchsia-400 mx-auto cursor-pointer animate-fade-in-up shadow-md"
              data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="3500"

              >

              <img src="assets/images/libro1.jpg" class="absolute inset-0 w-full h-full object-cover rounded-md " />
              <div class="absolute bottom-0 left-0 w-full h-9 bg-fuchsia-50 bg-opacity-75 py-0">
                <p class="text-fuchsia-600 text-center">
                  <a class="enlace text-xs p-1 font-bold" href="https://amzn.eu/d/chiK0O7">Harry Potter y La Orden del Fénix</a>
                </p>
              </div>
            </div>

  </div>


</div>







</div>


