<div class=" mt-12 ml-2 mr-2 ">
  <p class="text-center text-3xl title-sec">Esperamos con muchísima ilusión <br>la nueva pelicula</p>
</div>



<div class= "flex justify-center justify-items-center ml-2 mr-2">
  <iframe src="assets/images/peli2025.mp4" width="650" height="350"></iframe>
</div>



<div class="information-film flex flex-col  justify-evenly lg:flex-row md:flex-row mt-5 ml-2 animate-fade-in-up">
  <img src="assets/images/hedwig.png" class="w-56 hedwig relative z-0 rounded-lg transition-all duration-300 hover:scale-110 items-center ml-20 md:ml-2 lg:ml-2">
 <div class="flex flex-col mt-5 ml-2">

  <p class="text-4xl text-transparent bg-clip-text bg-gradient-to-r to-fuchsia-200 from-fuchsia-500 font-extrabold">Harry Potter y el Legado Maldito</p>
  <p class="text-2xl ">Sinopsis</p>
  <span class="mr-3 text-md text-justify">
    Harry Potter y el legado maldito es una obra de teatro de J.K. Rowling, Jack Thorne y John Tiffany que ha sido un gran éxito en Broadway y en el escenario del West End. La obra continúa con la hostoria de Harry Potter y las Reliquias de la Muerte y sigue la relación entre el hijo de Harry y el hijo de Draco: Albus Potter y Scorpius Malfoy, respectivamente. El rumor dice que Warner Bros adaptará la obra en una película y traerá de vuelta a Emma Watson, Rupert Grint y Daniel Radcliffe para retratar a sus personajes originales e icónicos.</span>
 </div>

</div>
