
<div class="container_map">
  <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/harry-potter-the-marauders-map-vintage-on-canvas-triptych-1-left-design-turnpike.jpg" class="map">

  <div class="name_container">
    <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/scroll.svg" class="merodeador">
    <h1 class="title"> Albus Dumbledore</h1>
  </div>

  <div class="name_container1">
    <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/scroll.svg" class="merodeador">
    <h1 class="title1">Harry Potter</h1>
  </div>

 
  </div>



<div class="grid p-4 container">
  <div class="col-12 md:col-6 lg:col-4 flex mt-3" *ngFor="let staffs of staff">
    <p-card header="Hogwarts Staff" subheader={{staffs.name}} class="w-full h-full letters">

      <div class="flex flex-row align-items-center">
        <div class="flex flex-column align-items-center">
          <div class="card flex align-items-center gap-2 flex-wrap flipleft  animation-delay-200 transition-delay-100 animation-iteration-1 animation-duration-300">
            <p-chip><img src="https://cdn4.iconfinder.com/data/icons/harry-potter/100/final_collection-17-1024.png" class="w-3rem">{{staffs.house}}</p-chip>
            <p-chip><img src="https://cdn4.iconfinder.com/data/icons/medical-and-health-33/100/sangue3-1024.png" class="w-2rem">{{staffs.ancestry || 'not information'}}</p-chip>
            <p-chip><img src="https://cdn0.iconfinder.com/data/icons/ie_yummy/128/cake_13.png" class="w-2rem h-2rem p-1">{{staffs.yearOfBirth || 'not found'}} </p-chip>
            <p-chip><img src="https://cdn2.iconfinder.com/data/icons/harry-potter-colour-collection/60/19_-_Harry_Potter_-_Colour_-_Harrys_Wand-1024.png" class="w-2rem h-2rem ">{{staffs.wand.wood || 'not found'}} </p-chip>
          </div>
          <p card content="Actor" class="p-2 text-3xl">

            <p-chip label={{staffs.actor}} image={{staffs.image}} alt="{{staffs.name}}"  />
          </p>

        </div>

      </div>

    </p-card>
  </div>
</div>
