<footer class="mt-20" data-aos="fade-up"
data-aos-anchor-placement="bottom-bottom" data-aos-delay="1500" >
  <div class="flex flex-col justify-center">

<p class="text-3xl text-center text-transparent bg-clip-text bg-gradient-to-r to-fuchsia-200 from-fuchsia-500 font-extrabold">Harry Potter App</p>
<div class="flex flex-row justify-center gap-3 mb-10">
  <i class="pi pi-instagram text-fuchsia-500 text-xl"></i>
  <i class="pi pi-facebook text-fuchsia-500 text-xl" ></i>
  <i class="pi pi-youtube text-fuchsia-500 text-xl" ></i>
  <i class="pi pi-github text-fuchsia-500 text-xl" ></i>
</div>
</div>
<p class="text-center" >Todos los derechos reservados</p>
<p class="text-center">Está página ha sido desarrollada y diseñada por Andrea Hernández</p>

</footer>
