<div class="w-full flex justify-center mt-4 mb-8">
  <a [routerLink]="''"
        class="btn-entrar w-24 mb-3 py-2.5 px-6 text-sm rounded-full bg-gradient-to-r from-fuchsia-600 via-fuchsia-500 to-fuchsia-400 shadow-lg shadow-fuchsia-500/50 text-white cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-gradient-to-l p-2 mt-4">Inicio</a>
</div>

<div class="h-full w-full bg-stone-900 mt-24">

<div class="w-full h-full ">
  <div class="cartoon"><div class="text  text-white">Ups,<br> page not found, press Inicio <br></div>

    <div class="body">
      <div class="wing b r"></div>
      <div class="wing b r"></div>
    </div>
    <div class="ear"></div>
    <div class="ear"></div>
    <div class="beak b"></div>
    <div class="eye b r"></div>
    <div class="eye b r"></div>
    <div class="feet b"></div>
  </div>
</div>
</div>


