<div class ="button">
  <button [routerLink]="['/magos']" class="btn-entrar">Entrar</button>
</div>


<section class="fog">


  <div class="absolute-bg">



  <div class="imagen">
    <!--<button [routerLink]="['/magos']" class="btn-entrar">hello</button>-->

    <img src ="https://i.ibb.co/7QJSPjF/logo-potter-2.png" class="logo" >

    <div class="snictch-container">
      <div class="animacion">
      <img src ="https://i.ibb.co/C2wXYD2/alaizquierda.png" class="alaizquierda">
      <img src ="https://i.ibb.co/bBLyMw5/cuerpo.png" class="cuerpo">
      <img src ="https://i.ibb.co/hRd62mB/aladerecha.png" class="aladerecha">
    </div>




  </div>



  </div>




  </div>
  <div class="fog-container">

    <div class="fog-img fog-img-first"></div>
    <div class="fog-img fog-img-second">

    </div>



  </div>


</section>













