

.absolute-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
 background: url("https://wallpapercave.com/wp/wp3776017.jpg");
 overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

}

.imagen{
  display: flex;
  justify-content:center;
  opacity: 80%;

}

@keyframes animateImage {
  0% {

    opacity: 0%;
    filter: drop-shadow(0px 0px 0px transparent);
  }

  20% {

    opacity: 40%;
    filter: drop-shadow(0px 0px 0px transparent);
  }

  30% {
    opacity: 50%;
    filter: drop-shadow(0px 0px 0px transparent);
  }

  50% {
    opacity: 55%;
    filter: drop-shadow(0px 10px 0px transparent);
  }

  90% {
    opacity: 70%;
    filter: drop-shadow(30px 20px 4px #e2cc4f);
  }


  90% {
    opacity: 80%;
    filter: drop-shadow(30px 20px 4px #060606);
  }


  100% {
    opacity: 90%;
    filter: drop-shadow(20px 10px 4px transparent);
  }
}

.logo{
  width: 35%;
  margin-top: 100px;
  margin-left: 150px;
  animation: animateImage 8s ease forwards;
}


@media (min-width:600px) {
.logo{
  margin-left: 290px;
} } /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }









.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff;
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.fog-img {
  position: absolute;
 height: 100vh;

  width: 300vw;
  z-index: 2;
}

.fog-img-first {
  background: url("https://i.ibb.co/SV6zbPG/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear forwards;
}

.fog-img-second {
  background: url("https://i.ibb.co/gVDXDJM/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 20s linear forwards;
}



@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 90%;
  }

  100% {
    transform: translate3d(-300vw, 0, 0);
    opacity: 0;
  }
}

.btn-entrar{

  width: 100px;
  height: 30px;
  background-color: rgba(103, 234, 234, 0.535);
  font-weight: bolder;
  border-radius: 15px;
  color: black;
}

.button{
 display: flex;
 justify-content: center;
 margin-bottom: 30px;
}

.snictch-container{

  animation: flotar 3s ease-in-out infinite;

}

@keyframes flotar {
  0% {
    transform: translateY(0);
}
50% {
    transform: translateY(-5px);
}
100% {
    transform: translateY(0);
}
}

.cuerpo{
  position: absolute;
  top: 86%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 10%;
  animation: flotar 3s ease-in-out infinite;
  filter: drop-shadow(2px 2px 4px #edd239);

}

.alaizquierda{
  width: 35%;
  filter: drop-shadow(2px 2px 4px #edd239);
  transform-origin: bottom right;
  animation: flap 0.1s ease-in-out infinite;

}

.aladerecha{
  width: 30%;
  transform-origin: bottom left;
  animation: flap 0.01s ease-in-out infinite;
  filter: drop-shadow(2px 2px 4px #b9aa52);

}

@keyframes flap {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}


.animacion{
  animation: floatAndMove 5s ease-in-out infinite;
}

@keyframes floatAndMove {
  0% {

      transform: translateY(0) translateX(0);
  }
  25% {

      transform: translateY(-10px) translateX(-50px);
  }

  35% {

    transform: translateY(-20px) translateY(-50px);
}

45% {

  transform: translateY(-20px) translateY(20px);
}
  50% {

      transform: translateY(0) translateX(-60px);
  }

  60% {

    transform: translateY(50px) translateX(-60px);
}
  75% {

      transform: translateY(120px) translateX(-50px);
  }
  100% {

      transform: translateY(0) translateX(0);
  }
}







