<div class="flex flex-col justify-center items-center w-full  bg-fuchsia-200 text-sm text-center text-black font-bold">
<p class="text-xl titulo1" >Encuentra todas las novedades en nuestra página</p>
</div>


  <div class=" w-full  intro-titulo grid grid-cols-1 md:grid-cols-2 mb-2 slide-in-left">
    <img src="assets/images/hodwarts.png" class="animate-slide-in-left">

    <article class="text-sm mt-7 ml-3 mr-3">
      <p class="text-4xl text-center titulo1">✨¡Bienvenido a tu portal mágico!✨</p>
      <p class="text-md text-justify p-3">Explora el fascinante mundo de Harry Potter, donde los hechizos cobran vida, los magos más poderosos dejan su
        huella, y los secretos de Hogwarts te esperan.

        <br><br>📜 Descubre todo sobre:

        Los maestros y magos que marcaron la historia del mundo mágico.
        Los hechizos más icónicos y sus usos en el día a día de los magos.
        Las últimas novedades de las películas, libros y contenido especial.
        Prepárate para sumergirte en una aventura mágica, ¡y recuerda que en esta web, la magia nunca termina! 🪄✨</p>

        <img src="assets/images/ordendelfenix.png" class="w-full h-20 object-contain orden"/>
      <div class="flex justify-center justify-items-center mt-2 ">
        <button [routerLink]="['/magos']" class="btn-entrar w-24 mb-3 bg-fuchsia-300 p-2 rounded-full mt-4">Entrar</button>
      </div>
    </article>
  </div>

  <ini-section1></ini-section1>







