
.img{
  filter: grayscale(66%);
}


.container{
  margin-top: 5rem;
}

.map{
  position: absolute;
  top: 5;
  width: 100vw;
  height: 55vh;
  object-fit: cover;

}

.name_container{
  position: relative;
  display: inline-block;
  overflow: hidden;
  top: 90px;
  left: 490px;
  transform: translateZ(-60%, -60%);
  animation: slideStep 4s steps(10, end) infinite;

}

.name_container1{
  position: relative;
  display: inline-block;
  overflow: hidden;
 left: 50px;
  transform: translateZ(50%, 50%);
  animation: slideStep1 8s steps(10, end) infinite;
}

.name_container2{
  position: relative;
  display: inline-block;
  overflow: hidden;
 left: 70px;
  transform: translateZ(50%, 50%);
  animation: slideStep1 8s steps(10, end) infinite;
}



.title,
.title1{
  position: absolute; /* Permite posicionar el título sobre la imagen */
  top: 50%; /* Centra el título verticalmente */
  left: 50%; /* Centra el título horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para que el título esté realmente centrado */
  color: rgb(12, 11, 11); /* Cambia el color del texto según sea necesario */
  font-size: 1rem;
  line-height: 13px;/* Ajusta el tamaño de la fuente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Opcional: Agrega sombra al texto para mejor visibilidad */
  text-align: center;
  font-family: almendra;
  white-space: no-wrap;

}

@keyframes slideStep {
  0% {

    transform: translateX(0);
    opacity: 3; /* Empieza en la posición inicial */
  }

  10% {

    transform: translateX(-10%);
     /* Empieza en la posición inicial */
  }



  100% {
    transform: translateX(-50%);
    opacity: 0 /* Termina fuera del contenedor */
  }
}


@keyframes slideStep1 {
  0% {

    transform: translateX(0%);
    opacity: 3; /* Empieza en la posición inicial */
  }

  10% {

    transform: translateX(10%);
     /* Empieza en la posición inicial */
  }



  100% {
    transform: translateX(100%);
     /* Termina fuera del contenedor */
  }
}

