<div class="container_map">
  <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/harry-potter-the-marauders-map-vintage-on-canvas-triptych-1-left-design-turnpike.jpg" class="map">

  <div class="name_container">
    <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/scroll.svg" class="merodeador">
    <h1 class="title">Harry Potter</h1>
  </div>

  <div class="name_container1">
    <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/scroll.svg" class="merodeador">
    <h1 class="title1">Ron Weasley</h1>
  </div>

  <div class="name_container2">
    <img src="https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/scroll.svg" class="merodeador">
    <h1 class="title1">Hermione Granger</h1>
  </div>
  </div>


<div class="">
  <div class="" *ngFor="let spell of spells">
    <p-card header={{spell.name}} class="">
 <p-chip><img src="https://cdn2.iconfinder.com/data/icons/harrypotter/trash-full.png" class="">  {{spell.description}} </p-chip>
    </p-card>
  </div>
</div>
