


.background{
 border: 1px solid goldenrod;
  font-family: almendra;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-decorativo-elegante-borde-dorado_1048-12810.jpg?t=st=1731769703~exp=1731773303~hmac=3593416d3b651a4223e04687c86f476b81cf469f79a0cd5b1203a2124d3666a7&w=360");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  opacity: 0.1;
  transition-duration: 1.5s;

}

.background:hover{
  opacity: 1;
 background-image: url("https://img.freepik.com/vector-gratis/plantilla-marco-lujo-dorado-degradado_23-2149051693.jpg?t=st=1731770187~exp=1731773787~hmac=c9a81ab38814bfe7f7e366463b73de9bd984349f754f2de3e2c578fa74d0576f&w=740")
}


