


.background{
 border: 1px solid goldenrod;
  font-family: almendra;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-decorativo-elegante-borde-dorado_1048-12810.jpg?t=st=1731769703~exp=1731773303~hmac=3593416d3b651a4223e04687c86f476b81cf469f79a0cd5b1203a2124d3666a7&w=360");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  opacity: 0.1;
  transition-duration: 1.5s;
  background-image: url("https://img.freepik.com/vector-gratis/monoline-celestial-iconos-marco-vector-marco-cuadrado-negro_53876-105491.jpg?uid=R128113173&ga=GA1.1.911909887.1729527996&semt=ais_hybrid");


}

.background:hover{
 opacity: 1;
/* background-image: url("/assets/fondo1.avif");
background-image: url("https://img.freepik.com/vector-gratis/minimal-art-deco-papel-pintado-brillo-dorado-decorativo_53876-58060.jpg?uid=R128113173&ga=GA1.1.911909887.1729527996&semt=ais_hybrid");*/

background-image: url("https://img.freepik.com/vector-gratis/vectores-coleccion-vintage-art-nouveau-insignia_53876-57467.jpg?t=st=1731779687~exp=1731783287~hmac=9700c91717b614ece733b6b6d1c4f766629a199f1277a621c5c2824516411569&w=740");

}


