


.background{
 border: 1px solid goldenrod;
  font-family: almendra;

  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  opacity: 0.1;
  transition-duration: 1.5s;



}

.background:hover{
 opacity: 1;
 background-image:url("/assets/images/backgro.jpg")
}


